<div class="mt-4 col-md-4 col-sm-8 offset-md-4  offset-sm-2" style="padding-top: 3%">
  <div class="card">
    <div class="card-header">
      Register Here
    </div>
    <div class="card-body">
      <form #signupForm="ngForm" (ngSubmit)="onSubmit()">

          <div class="alert alert-success" *ngIf="signUpSuceess">
              Sign Up Successfull. <a routerLink="/login" class="float-right">Login Here</a>
            </div>
        <div class="form-group row">
          <label for="inputName" class="col-sm-12 col-form-label">User Name</label>
          <div class="col-sm-12">
            <input type="text" name="name" minlength="3" maxlength="50" [(ngModel)]="form.username" class="form-control" id="inputName" placeholder="User Name" required>
            <small  id="passwordHelp" class="text-danger" *ngIf="hasError">
                Incorrect username
              </small>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-12 col-form-label">Password</label>
          <div class="col-sm-12">
            <input type="password" name="password" minlength="3" maxlength="50" [(ngModel)]="form.password"  class="form-control" id="inputPassword3" placeholder="Password" required>
            <small  id="passwordHelp" class="text-danger" *ngIf="hasError">
                Incorrect password
              </small>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12 ">
            <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary">Sign up</button>
            <a routerLink="/login" class="float-right">Already have account?</a>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>
