<div class="mt-4 col-8 offset-2">
  <div class="container">
    <div class="text-center" *ngIf="loaded">
        <h2>{{store.name}}</h2>
      <table class="table table-bordered table-striped">
        <!--<thead class="thead-dark">-->
        <!--<tr>-->
          <!--<th scope="col">#</th>-->
          <!--<th scope="col">Name</th>-->
          <!--<th scope="col">Phone</th>-->
          <!--<th scope="col">Address</th>-->
          <!--<th scope="col">Description</th>-->
          <!--<th scope="col">Type</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <tbody>
        <tr>
          <td>Phone</td>
          <td>{{store.phone}}</td>
        </tr>
        <td>Address</td>
          <td>{{store.address}}</td>
        <tr>
          <td>Type</td>
          <td>{{store.type}}</td>
        </tr>
        <tr>
        <td>Description</td>
          <td>{{store.description}}</td>
        </tr>


        </tbody>
      </table>
    </div>
  </div>


    <!--<div class="card-body">-->
      <!--<h3>Address:</h3>-->
      <!--<p>{{store.address}}</p>-->
      <!--<h3>Description:</h3>-->
      <!--<p>{{store.description}}</p>-->
      <!--<h3>Phone Number:</h3>-->
      <!--<p>{{store.phone}}</p>-->
      <!--<h3>Type:</h3>-->
      <!--<p>{{store.type}}</p>-->
      <!--<h3></h3>-->
    <!--</div>-->
</div>
